@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
    width:  5px;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}
.smscenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.smsrigt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
}